*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*Para que empiece elmargen desde el borde del elemento*/
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

h1{
    margin: 0;
    padding: 10px;
    background-color: rgb(23, 167, 83);
    color: white;
}


.formulario{
    display: flex;
    align-items: center;
    justify-content: center;   
}

form{
    width: 400px;
    height: 400px;
    border: 1px solid rgb(216, 211, 211);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(148, 148, 211);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.contenedor {
    width: 90%;
    height: 250px;  
}

.contenedor * *{
 display: block;
}

.contenedor  .valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor .valores div input{
    display: block;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.contenedor .valores div label{

    display: block;
    padding-bottom: 10px;

}

.contenedor .botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}


.formulario form .contenedor .botones input{
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
}

.formulario form .contenedor .botones button{
    display: block;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
}

.contenedor .botones a:first-child{
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    color: rgb(0, 163, 238) ;
    border: 2px solid rgb(0, 163, 238);
}


.contenedor .botones a:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    width: 45%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 163, 238) ;
    border: 2px solid rgb(0, 163, 238);
    border-radius: 10px;
}

.contenedor .botones button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    width: 45%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 163, 238) ;
    border: 2px solid rgb(0, 163, 238);
    border-radius: 10px;
}

.contenedor a{
    display:flex;
    text-align: center;
    justify-content: center;
}


