<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/usuario/css/style.css">
</head>

<body>

    <h1>Recuperacion</h1>
    <br/>

    <div class="formulario">
        <form action="routes.php?controller=Usuario&action=codigogenerado" method="post">
            <div class="contenedor">

                <div class="valores">

                    <div>
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email"> 
                    </div>
                   
                    <div>
                        <label for="username">Username</label>
                        <input type="username" name="username" id="username"> 
                    </div>
                    
                </div>

                <div class="botones">
                     <button>Solicitar</button>
                </div>
                
            </div>
            
        </form>
    </div>


</body>

</html>